{% extends "base.html" %}
{% load static %}
{% block content %}

</br></br></br></br>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>G-ETAB : Ensemble, construisons un avenir meilleur pour l'éducation au Tchad.</h3>
            <p class="fst-italic">
              L'éducation est un pilier fondamental du développement de toute nation, et la gestion efficace des établissements scolaires joue un rôle clé dans la fourniture d'une éducation de qualité.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> G-ETAB est une plateforme de gestion scolaire numérique qui simplifie la vie des établissements scolaires au Tchad. Elle permet de gérer les élèves, les enseignants et les parents d'élèves de manière efficace et transparente.</li>
              <li><i class="bi bi-check-circle"></i> G-ETAB est un outil précieux pour les établissements scolaires au Tchad. Elle permet d'améliorer la communication et la collaboration entre les différents acteurs de la communauté éducative. Elle contribue également à améliorer la qualité de l'éducation au Tchad.</li>
              <li><i class="bi bi-check-circle"></i> La mise en place de la plateforme G-ETAB est justifiée par la nécessité de moderniser la gestion des établissements scolaires au Tchad.</li>
            </ul>
            <p>
              Cette plateforme a pour objectif d'améliorer l'efficacité de la gestion des écoles au Tchad en offrant des outils modernes pour la collecte, l'analyse et la gestion des données éducatives.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
{% endblock %}